@font-face {
font-family: 'Open Sans';
src: url("./public/home/open_sans_light.woff") format('woff'), url("./public/home/open_sans_light.ttf") format('ttf');
font-weight: 300;
font-style: normal;
font-display: swap;
}